[submodule "moveduck-extension"]
	path = moveduck-extension
	url = https://github.com/0xDuckMove/moveduck-extension
[submodule "moveduck-backend"]
	path = moveduck-backend
	url = https://github.com/phuquiivo03/movestack-backend
[submodule "moveduck-client"]
	path = moveduck-client
	url = https://github.com/Weminal-labs/moveduck
[submodule "moveduck-agent-deploy"]
	path = moveduck-agent-deploy
	url = https://github.com/AnhQuan2004/moveduck_agent_deploy
[submodule "moveduck-agent-kit"]
	path = moveduck-agent-kit
	url = https://github.com/AnhQuan2004/moveduck_agent.git
